// main: ../style.less
body {
  font-family: @primary-color-hover;
  line-height: 2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
  }
  ul {
    padding: 0;
    li {
      list-style-type: none;
      display: inline-block;
      margin-right: 10px;
    }
  }
  a {
    display: block;
    color: #778899;
  }
}
